body {

  background-image: url('Hawi.jpeg');
  background-repeat: no-repeat;
}

p{
  color:black;
}




.navbar {
  min-height: 40px !important;
  margin-top:0;
  margin-bottom:0;
  border-radius:0;

}

.navbar-default {
  background-color: lime;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}

#footer{
  min-height: 40px !important;
  background: lime;
  color: lime;
  text-align:center;
  padding:30px;
  margin-top:430px;
}
